.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 5rem;
}

.container_poster {
  width: 20rem;
  height: 30rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.container_text {
  align-items: center;
  padding: 6rem;
}

.container_sinopsis {
  text-align: justify;
}

.container_genres {
  text-align: left;
}

.deleteBtn {
  width: 8rem;
  color: red;
  font-size: 0.8rem;
}
.deleteBtn:hover {
  border-color: red;
}
